.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex; align-items: center; justify-content: center;
}

.modal-content {
  background: white;
  border-radius: 8px;
  min-width: 40%;
  position: relative;
}
.modal-content form{
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
.modal-content form input{
  min-height: 2rem
}
.modal-close {
  position: absolute;
  top: 10px; right: 10px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}
